
html {
	
	--material-primary-color: DarkRed;
	--material-primary-text-color: DarkRed;
	
	--material-body-text-color: DarkRed;
}

body {
	color: var(--material-body-text-color);
}

.main-panel-content-wrapper {

	width: 100%;
	max-width: 700px;
	position:relative;
}

.searchbutton {
	max-width: 26px;
	min-width: 26px;
}