

:host(.grapesSelector) [part="group-field"] {
	
    display: flex;
    flex-direction: column;
}

:host(.grapesSelector) [part="group-field"] ::slotted(vaadin-checkbox:nth-child(8)) {
	
    padding-bottom: 15px;
}

:host(.grapesSelector)::before {
	display:none;
}